

body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    height: max-content;
}

.center {
  margin: auto;
  width: 50%;
  text-align: center;
}

button {
    padding: 50px 150px;
    background-color: red;
    color: white;
    border-radius: 25px;
    transition-duration: 0.4s;
    border: lightgray;
}

button:hover {
    background-color: white;
    color: black;
    border: 2px solid red;
}