* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 1.6;
    font-size: larger;
    background: #333;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

header {
    background-color: teal;
}

header:hover {
    background: #999;
}
 #logo {
     padding: 1em;
 }

.info-box {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 1em;
    margin: 1em;
    padding: 0 0.5em 0.5em 0.5em;
}

#intro {
    background-color: tomato;
}

#subject {
    background-color: green;
}

#reception {
    background-color: darkgoldenrod;
}

#future {
    background-color: darkmagenta;
}